.pizza {
  width: 30%;
  margin-bottom: 50px;
  box-sizing: border-box;

  &.card {
    min-width: 320px;
    max-width: 380px;

    @media (max-width: 992px) {
      width: 100%;      
    }
  }

  &__img {
    &:hover {
      cursor: pointer;
    }
  }

  &__name {
    &:hover {
      cursor: pointer;
      text-decoration: underline;
    }

    &.card-title {
      margin-bottom: 20px;
    }
  }

  &__button {
    width: 45%;
    margin: 0 10px 0 0;

    &--hidden {
      visibility: hidden;
    }

    &--fullWidth {
        width: 100%;

        &.btn {
          height: 50px;
        }
    }
  }

  &__txtStrong {
    font-weight: 500; 
    margin-right: 5px;
    font-size: 16px;
  }

  &__txt {
    font-size: 12px;
  }

  &__price {
    font-size: 20px;
  }

  &__alert {
    margin-top: 20px;
  }
}