@import './Product/Product.scss';

.products {
  display: flex;
  gap: calc(10% / 2);
  flex-wrap: wrap;
  justify-content: space-around;

  &__notfound {
    width: 50%;
    margin: 0 0 20px 0;
  }
}