@import './Product/Product.scss';

.products {
  display: flex;
  gap: calc(10% / 2);
  flex-wrap: wrap;

  &__notfound {
    width: 50%;
    margin: 0 0 20px 0;
  }

  &__count {
    margin: 0 0 10px 0;
  }
}