.select {
  position: relative;
  font-size: 16px;
  font-weight: 600;
  line-height: 150%;
  display: flex;
  align-items: center;

  &__button {
    display: flex;
    align-items: center;
    justify-content: space-between;
    border: none;
    background-color: transparent;
    color: #000;
    cursor: pointer;
    font-size: 16px;
    font-weight: 600;
    font-family: Nunito;
    padding: 0 30px 0 10px;
    width: 150px;
    height: 80px;
    border: 1px solid #000;
    border-radius: 8px;

    @media (max-width: 768px) {
      width: 100%; 
    }
  
    &:before {
      position: absolute;
      content: '';
      top: 50%;
      right: 10px;
      transform: translateY(-50%);
      background-image: url('../../../images/change.svg');
      background-position: center;
      background-repeat: no-repeat;
      background-size: contain;
      width: 24px;
      height: 24px;
    }
  }

  &__dropdown {
    position: absolute;
  top: 100%;
  left: -25%;
  width: 184px; 
  max-height: 250px;
  padding: 0;
  margin-top: 14px;
  list-style-type: none;
  border-radius: 8px;
  border: 1px solid #000;
  background: #FCFCFC;
  z-index: 3;

  @media screen and (max-width: 768px) {
    left: 0;
    width: 100%;
  }
  }

  &__dropdownItem {
    display: flex;
  align-items: center;
  padding: 8px 12px;
  cursor: pointer;

  &:hover {
    background-color: #F4F5FD;
  }
  }
};