.footerList {
  padding: 0;
  margin: 0;
  list-style: none;
  font-size: 16px;

  &__item {
    margin: 0 0 10px 0;
  }

  &__link {
    color: rgb(208, 206, 206);
    text-decoration: none;

    &--fb {
      &:hover {
        svg {
          path {
            fill: #3b5998;
          }
        }
      }
    }

    &--in {
      &:hover {
        svg {
          path {
            fill: url(#rg);
          }
        }
      }
    }

    &--tw {
      &:hover {
        svg {
          path {
            fill: #00aace;
          }
        }
      }
    }

    &--ln {
      &:hover {
        svg {
          path {
            fill: #0e76a8;
          }
        }
      }
    }

    &:hover {
      text-decoration: underline;
      color: gray;
    }
  }
}