.blogItem {
  padding: 50px 0;

  &__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
  }

  &__data {
    text-align: center;
  }

  &__img {
    margin: 0 auto 20px;
    width: 100%;
  }

  &__description {
    width: 90%;
    margin: 0 auto;
    line-height: 1.5;
  }
}