.login {
  padding: 20px 0;

  &__title {
    font-size: 48px;
    font-weight: 900;
    text-align: center;
    margin: 0 0 20px 0;

    @media (max-width: 768px) {
      font-size: 24px;
      font-weight: 700;
    }
  }

  &__form {
    width: 50%;

    @media (max-width: 768px) {
      width: 90%;
    }
  }

  &__input {
    &--error {
      &.form-control {
        color: red;
      border-color: red;
      box-shadow: red;
      }
    }
  }

  &__error {
    color: red;
    font-weight: 700;
  }

  &__unauthorized {
    margin-top: 20px;
  }
}